.profile {
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
}

/* 1024px */
@media (max-width: 1024px) {
  .profile {
    grid-template-columns: minmax(282px, auto);
    row-gap: 29px;
    justify-items: center;
    padding-top: 42px;
    padding-bottom: 39px;
  }
}
