.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

/* 1280px */
@media (max-width: 1280px) {
  .header {
    padding: calc((100vw - 320px) / (1280 - 320) * (45 - 28) + 28px) 0 calc((100vw - 320px) / (1280 - 320) * (41 - 31) + 31px);
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .header {
    padding-left: calc((100vw - 320px) / (1024 - 320) * (50 - 27) + 27px);
    box-sizing: border-box;
  }
}

/* 320px */
@media (max-width: 320px) {
  .header {
    padding: 28px 0 31px 27px;
  }
}
