.profile__info {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 9px 19px;
  align-items: baseline;

  color: rgba(255, 255, 255, 1);
}

/* 1024px */
@media (max-width: 1024px) {
  .profile__info {
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
      ". name edit-button"
      ". occupation .";
    gap: 8px 10px;
    justify-items: center;
  }
}